<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.mapper.BoardMapper">
	
	<!-- 게시글 전체 개수 -->
	<select id="selectListCount" resultType="int">
		SELECT COUNT(*) FROM BOARD	
			<if test="category == 'all'">
		      	WHERE BTITLE LIKE '%'||#{s_word}||'%' OR BCONTENT LIKE '%'||#{s_word}||'%'
			</if>
			<if test="category == 'btitle'">
		      	WHERE BTITLE LIKE '%'||#{s_word}||'%'
			</if>
			<if test="category == 'bcontent'">
		      	WHERE BCONTENT LIKE '%'||#{s_word}||'%' 
			</if>
	</select>
	
	<!-- 게시글 전체 가져오기 -->
	<select id="selectAll" resultType="com.java.dto.BoardDto"><!-- id 넣고, restultType으로 반환타입 정해주기: 메소드명, 리턴타입 -->
		<!-- 공통 영역 -->
		<![CDATA[
			SELECT * FROM (SELECT ROWNUM RNUM, A.* FROM
			(SELECT * FROM BOARD 
		]]>
			<if test="category == 'all'">
		      	WHERE BTITLE LIKE '%'||#{s_word}||'%' OR BCONTENT LIKE '%'||#{s_word}||'%'
			</if>
			<if test="category == 'btitle'">
		      	WHERE BTITLE LIKE '%'||#{s_word}||'%'
			</if>
			<if test="category == 'bcontent'">
		      	WHERE BCONTENT LIKE '%'||#{s_word}||'%' 
			</if>
		<!-- 공통영역 -->
		<![CDATA[
			ORDER BY BGROUP DESC, BSTEP ASC) A)
			WHERE RNUM >= #{startRow} AND RNUM <= #{endRow}	
		]]>
	</select>
	
	<!-- 게시글 1개 가져오기 -->
	<select id="selectOne" resultType="com.java.dto.BoardDto">
		SELECT * FROM BOARD WHERE BNO=#{bno}
	</select>
	
	<!-- 하단 댓글 전체 가져오기 -->
	<select id="selectComAll" resultType="com.java.dto.CommentDto">
		SELECT * FROM COMMENT_BOARD WHERE BNO=#{bno} ORDER BY CNO DESC <!-- 최신 댓글이 위로 -->
	</select>
	
	<!-- 하단 댓글 저장 -->
	<insert id="commentInsert">
		<selectKey resultType="int" keyProperty="cno" order="BEFORE"><!-- BEFORE: insert보다 전에 실행 -->
			SELECT COMMENT_SEQ.NEXTVAL FROM DUAL <!-- 다음 시퀀스값을 cno로 저장 -->
		</selectKey>
		INSERT INTO COMMENT_BOARD VALUES
			(#{cno}, #{bno}, #{id}, #{cpw}, #{ccontent}, sysdate)
	</insert>
	
	<!-- 하단 댓글 1개 가져오기 -->
	<select id="selectComOne" resultType="com.java.dto.CommentDto">
		SELECT * FROM COMMENT_BOARD WHERE CNO=#{cno}
	</select>
	
	<!-- 하단 댓글 1개 삭제 -->
	<delete id="commentDelete">
		DELETE COMMENT_BOARD WHERE CNO=#{cno}
	</delete>
	
	<!-- 하단 댓글 수정 저장 -->
	<update id="commentUpdateSave">
		UPDATE COMMENT_BOARD SET CPW=#{cpw}, CCONTENT=#{ccontent}, CDATE=SYSDATE WHERE CNO=#{cno}
	</update>
	
</mapper>