<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.mapper.BoardMapper">
	
	<!-- 게시글 전체 개수 -->
	<select id="selectListCount" resultType="int">
		SELECT COUNT(*) FROM BOARD	
			<if test="category == 'all'">
		      	WHERE BTITLE LIKE '%'||#{s_word}||'%' OR BCONTENT LIKE '%'||#{s_word}||'%'
			</if>
			<if test="category == 'btitle'">
		      	WHERE BTITLE LIKE '%'||#{s_word}||'%'
			</if>
			<if test="category == 'bcontent'">
		      	WHERE BCONTENT LIKE '%'||#{s_word}||'%' 
			</if>
	</select>
	
	<!-- 게시글 전체 가져오기 -->
	<select id="selectAll" resultType="com.java.dto.BoardDto"><!-- id 넣고, restultType으로 반환타입 정해주기: 메소드명, 리턴타입 -->
		<!-- 공통 영역 -->
		<![CDATA[
			SELECT * FROM (SELECT ROWNUM RNUM, A.* FROM
			(SELECT * FROM BOARD 
		]]>
			<if test="category == 'all'">
		      	WHERE BTITLE LIKE '%'||#{s_word}||'%' OR BCONTENT LIKE '%'||#{s_word}||'%'
			</if>
			<if test="category == 'btitle'">
		      	WHERE BTITLE LIKE '%'||#{s_word}||'%'
			</if>
			<if test="category == 'bcontent'">
		      	WHERE BCONTENT LIKE '%'||#{s_word}||'%' 
			</if>
		<!-- 공통영역 -->
		<![CDATA[
			ORDER BY BGROUP DESC, BSTEP ASC) A)
			WHERE RNUM >= #{startRow} AND RNUM <= #{endRow}	
		]]>
	</select>
	
	
	<!-- 게시글 1개 가져오기 -->
	<select id="selectOne" resultType="com.java.dto.BoardDto">
		SELECT * FROM BOARD WHERE BNO=#{bno}
	</select>
	
	<!-- 이전글 가져오기 -->
	<select id="selectPrevOne" resultType="com.java.dto.BoardDto">
		SELECT * FROM BOARD WHERE BNO=(
	    	SELECT PREVDTO FROM
	        (SELECT BNO, LEAD(BNO,1,-1) OVER(ORDER BY BGROUP DESC, BSTEP ASC) AS PREVDTO
	         FROM BOARD ORDER BY BGROUP DESC, BSTEP ASC)
   		 WHERE BNO=#{bno})
	</select>
	
	<!-- 다음글 가져오기 -->
	<select id="selectNextOne" resultType="com.java.dto.BoardDto">
		SELECT * FROM BOARD WHERE BNO=(
	    	SELECT NEXTDTO FROM
	        (SELECT BNO, LAG(BNO,1,-1) OVER(ORDER BY BGROUP DESC, BSTEP ASC) AS NEXTDTO
	         FROM BOARD ORDER BY BGROUP DESC, BSTEP ASC)
   		 WHERE BNO=#{bno})
	</select>
	
	
	<!-- 게시글 저장하기 -->
	<insert id="insertOne"><!-- 리턴 없음! -->
		INSERT INTO BOARD VALUES (board_seq.nextval, #{id}, #{btitle}, #{bcontent},
								  SYSDATE, 0, board_seq.currval, 0, 0, #{bfile})<!-- bfile에 난수이름 들어감 -->
	</insert>
	
	<!-- 조회수 1증가 -->
	<update id="updateBhitUp">
		UPDATE BOARD SET BHIT=BHIT+1 WHERE BNO=#{bno}
	</update>
	
	<!-- 게시글 1개 삭제하기 -->
	<delete id="deleteOne"><!-- 리턴 없음! -->
		DELETE BOARD WHERE BNO=#{bno}<!-- 자동커밋됨 -->
	</delete>
	
	
	<!-- 게시글 1개 수정하기 -->
	<update id="updateOne"><!-- 리턴 없음! -->
		UPDATE BOARD SET BTITLE=#{btitle}, BCONTENT=#{bcontent}, BFILE=#{bfile} WHERE BNO=#{bno}
	</update>
	
	
	<!-- 자손수 1증가  -->
	<update id="updateBstepCount">
		UPDATE BOARD SET BSTEP=BSTEP+1 WHERE BGROUP=#{bgroup} AND BSTEP>#{bstep}<!-- 같은 그룹의 0번 이상이면 모두 1 증가 -->
	</update>
	
	<!-- 답변달기 -->
	<insert id="insertReplyOne">
		INSERT INTO BOARD VALUES (board_seq.nextval, #{id}, #{btitle}, #{bcontent},
								  SYSDATE, 0, #{bgroup}, #{bstep}+1, #{bindent}+1, #{bfile})<!-- 답변글은 자손과 들여쓰기 1증가 -->
	</insert>

</mapper>